@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  /* padding: 0px 25px; */
}

.card {
  display: flex;
  border-radius: 10px;
  border: none;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  color: var(--color-text);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  /* max-width: 345px; */
  height: 100%;
  margin: 0;
}

.projectBody {
  padding: 0;
}

.projectImage {
  margin-bottom: 26px;
  border-radius: 3px;
}

.projectTitle {
  font-size: 20px;
  font-weight: 700;
}

.projectDescription {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
}

.projectFooter {
  padding: 0;
  border: none;
  margin-top: 15px;
}

ul {
  padding-left: 0;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  background: transparent;
}

.skill {
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
